#key-selector-container {

  width: 100%;

  /**
  td:first-child, #key-selector {
    width: 2000px;
  }*/

  #key-selector {
    position: relative;
    width: 150px;
    background: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    z-index: 1;
    float: left;
    margin-right: 5px;

    .selected-option {
      padding: 5px 10px;
    }

    .key-icon {
      margin-right: 5px;
      color: inherit;
      vertical-align: middle;
    }

    .dropdown {
      /* Size & position */
      position: absolute;
      top: 100%;
      left: 0px;
      right: 0px;
      padding: 0;

      /* Styles */
      background: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      list-style: none;

      /* Hiding */
      opacity: 0;
      pointer-events: none;

      li {
        a {
          display: block;
          text-decoration: none;
          color: #333;
          padding: 10px;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -ms-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }
      }

      li:hover a {
        color: grey;
      }
    }
  }

  #key-selector:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
  }

  #key-selector.active:after {
    border-width: 0 6px 6px 6px;
  }

  #key-selector.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .dropdown {
      opacity: 1;
      pointer-events: auto;
    }
  }

  #key-selector, #recipients-field {
    height: 30px;
  }

  #recipients-field {
    width: 0;
    overflow-x: hidden;
    transition: width 0.5s;
    float: left;

    input {
      width: 100%;
      height: 100%;
    }
  }

  #recipients-field.active {
    width: 100%;
  }
}