// _sprite_frontend.scss is built in the gulp: sprite task
@import "sprite-frontend";

:host([contentEditable]), [contentEditable].messageGuardOverlay {
  min-height: 26px;
}

// Images to show to turn on and off MessageGuard.
div.messageGuardIcon {
  @extend %sprite-background;
  @include sprite($off-small);
  opacity: .33 !important;
  cursor: pointer !important;

  &:not(input) {
    margin-top: 3px !important;
    margin-left: -3px !important;
  }

  &:hover {
    @include sprite($on-small);
    opacity: 1 !important;
  }
}