/**
 * CSS styling for the compose window.
 */
@import "message-guard";

@import "../../node_modules/spectrum-colorpicker/spectrum";

.sp-container {
  border-color: #D5D5D5;
}

.tab-content {
  margin-left: 15px;
}

.tab-content #keys {
  padding-top: 10px;
}

.key-system-section {
  /*max-width: 550px;*/
}

.add-key-button {
  color: green;
  font-size: 20px;
  background-color: transparent;
  border: 4px solid green;
  border-radius: 18px;
  width: 37px;
  height: 37px;
}

.add-key-button:before {
  position: absolute;
  left: 7px;
  top: 5px;
}

.add-key-button:hover {
  color: white;
  background-color: green;
}

.add-key-button:focus {
  outline: 0;
}

.key-system-section h1 {
  display: inline-block;
  margin-left: 15px;
}

.key-system-rows {
  font-size: 20px;
  max-width: 550px;
  margin-top: 25px;

  .row {
    margin-left: 0px;
    padding: 5px;
    background-color: #E6E6E6;
    margin-bottom: 10px;
    box-shadow: 4px 4px 10px #C7C7C7;

    .key-color, .edit-btn, .remove-btn {
      margin-top: 4px;
    }

    .key-name {
      cursor: default;
    }

    .edit-btn {
      cursor: pointer;
    }

    .remove-btn {
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}

#startup-modal {
  .initialization-message {
    display: none;
  }
  
  .master-password-message {
    display: block;
  }
}

#key-system-modal {
  .key-icon {
    float: left;
    width: 34px;
    height: 34px;
    font-size: 28px;
    padding: 2px;
    border: 1px solid rgb(194, 194, 194);
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0px 0px 1px rgb(194, 194, 194), 0px 1px 2px rgba(111, 111, 111, 0.25);
  }

  .key-icon:active {
    border-width: 2px;
  }

  .system-name {
    font-size: 21px;
    display: inline-block;
    width: 88%;
    float: left;

    &.form-control {
      box-shadow: none;
      border: none;
    }
  }
  
  h4.system-name {
    margin: 4px 0 0 4px;
    cursor: default;
  }
}

.key-systems .btn-group {
  float: right;
}

.key-systems .clear {
  clear: both;
}

#master-password-modal {
  .master-password-prompt {
    padding: 5px 5px 15px 5px;
  }
}