$sprite-img-path: '../img/' !default;

{{#each layouts}}
  {{#each layout.items}}
    ${{#if ../../opt.split}}{{cssesc ../../name}}-{{/if}}{{cssesc meta.name}}: -{{x}}px -{{y}}px {{width}}px {{height}}px;
  {{/each}}
{{/each}}

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

{{#each layouts}}
  {{#each sprites}}

    {{#if dpi}}
      @media (-webkit-min-device-pixel-ratio: {{ratio}}), (min-resolution: {{dpi}}dpi) {
    {{/if}}
    %{{cssesc ../classname}} {
    background-image: url(#{$sprite-img-path}{{escimage url}});
    {{#if dpi}}
      background-size: {{width}}px {{height}}px;
    {{/if}}
    }
    {{#if dpi}}
      }
    {{/if}}
  {{/each}}

{{/each}}
